<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление режиссера</title>
</head>
<body>
<p>Введите данные</p>
<form th:method="POST" th:object="${newDirector}" th:action="@{/add/new}">
    <div>
        <label for="name">Имя: </label>
        <input type="text" th:field="*{name}" id="name">
        <br>

        <label for="age">Возраст: </label>
        <input type="text" th:field="*{age}" id="age">
        <br>

        <label for="country">Страна: </label>
        <input type="text" th:field="*{country}" id="country">
        <br>

        <input type="submit" value="Добавить режиссера"/>
    </div>
</form>
</body>
</html>